<footer class="main-footer">
  <div class="footer-cards-container">
    <div class="footer-card">
      <div class="icons-container">
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p>Hosam Dahrooge</p>
    </div>
    <div class="footer-card">
      <div class="icons-container">
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p>Connie Ho</p>
    </div>
    <div class="footer-card">
      <div class="icons-container">
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p>Sydney Sisco</p>
    </div>
  </div>
</footer>
