<footer class="main-footer">
  <div class="footer-cards-container">
    <div class="footer-card">
      <div class="icons-container">
        <a href="https://http.cat/400"><i class="fas fa-link"></i></a>
        <a href="https://github.com/Just-Hosam"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/hosam-dahrooge/"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p>Hosam Dahrooge</p>
    </div>
    <div class="footer-card">
      <div class="icons-container">
        <a href="https://connie-ho.github.io/connieho/"><i class="fas fa-link"></i></a>
        <a href="https://github.com/connie-ho"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/connie-ho-7540bbaa/"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p>Connie Ho</p>
    </div>
    <div class="footer-card">
      <div class="icons-container">
        <a href="https://sydsis.co/"><i class="fas fa-link"></i></a>
        <a href="https://github.com/sydney-sisco"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/sydsisco/"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p>Sydney Sisco</p>
    </div>
  </div>
</footer>
