<header class="main-header">
  <nav>
    <a href="/"><img src="https://see.fontimg.com/api/renderfont4/w1l49/eyJyIjoiZnMiLCJoIjo2NCwidyI6MjAwMCwiZnMiOjMyLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Tm90U29TbWFydA/marshmallow-personal-use-regular.png" ></a>
    <% if (user) { %>
      <div class="header-details">
        <div class="user-details">
          <span class="details-name"><%= user.first_name %> <%= user.last_name %></span>
          <span class="details-email"><%= user.email %></span>
        </div>
        <a href="/logout"><button>Logout</button></a>
      </div>
    <% } else { %>
      <div>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </div>
    <% } %>

  </nav>
</header>
