<header class="main-header">
  <nav>
    <h2>NotSoSmart</h2>
    <% if (user) { %>
      <div class="header-details">
        <div class="user-details">
          <span class="details-name"><%= user.first_name %> <%= user.last_name %></span>
          <span class="details-email"><%= user.email %></span>
        </div>
        <a href="/logout"><button>Logout</button></a>
      </div>
    <% } else { %>
      <div>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </div>
    <% } %>

  </nav>
</header>
