.main-header {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px 30px;

    img {
      cursor: pointer;
    }

    button {
      border: none;
      background: var(--cardColor);
      border-radius: 5px;
      padding: 15px 15px;
      color: var(--rightColor);
      font-weight: bold;
      font-size: 1rem;
      min-width: 135px;
      font-size: 1.2rem;
    }

    #logout-btn {
      margin-right: 5px;
    }

    button:hover {
      color: var(--cardColor);
      background: var(--rightColor);
      border: 1px solid var(--textColor);
    }

    .header-details {
      display: flex;
      align-items: center;

      .user-details {
        color: var(--textColor);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;

        .details-name {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .details-email {
          font-size: 1rem;
          font-style: italic;
          opacity: 75%;
        }
      }
    }
  }
}
