.mod-items-wrapper {
  @include flexCenter();
  font-size: $primaryFontSize;
  text-align: center;
  color: $rightColor;
  width:500px;
  padding: 1rem 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 1px solid $rightColor;
}


.submit-btn {
  @include buttonDefault();
  width: 100%;
}

#cancel-modify {
  padding: none;
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;

  button {
    @include buttonDefault();
    width: auto;
    border: none;
    padding: none;
    margin: none;

  }
}

#edit-item-form {
  display: flex;

  input {
    width: auto;
    text-align: center;
    border: 1px solid $rightColor;
    color: $rightColor;
    outline: none;
    flex: 1;
    margin-right: 0.25rem;
  }

  button {
    width: auto;
    color: white;
    background-color: $rightColor;

    &:hover {
      background-color: white;
      color: $rightColor;

    }
  }

}


#modify-item-form {
  div {
    margin: 1rem;
  }
}


.mod-dropdown-menu {
  margin: 0;
  padding: 0;
  border: 1px solid $rightColor;
  left: 0;
  border-radius: 15px;
  width: 92%;

  form {
    margin: 0.5rem;

    button {
      border: none;
    }
  }

}

// in case we want the circle
.details-btn-container {
  // margin-top: auto;
  // margin-bottom: auto;
  // width: 1em;
  // height: 1em;
  // border: 2px solid $textColorAlt;
  // border-radius: 50%;
  // @include flexCenter();
}

.body-container{
  // intentially left blank; to be filled with blur later

}

.priority {
  color: red;
  font-weight: bold;
}
