.mod-items-wrapper {
  @include flexCenter();
  background-color: var(--cardColor);
  font-size: $primaryFontSize;
  text-align: center;
  color: var(--rightColor);
  width:500px;
  padding: 1rem 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 1px solid var(--rightColor);

  .watch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 10rem;
    }

    #details {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      text-align: left;
    }
  }
}


.submit-btn {
  @include buttonDefault();
  width: 100%;
}

#cancel-modify {
  padding: none;
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;

  button {
    @include buttonDefault();
    width: auto;
    border: none;
    padding: none;
    margin: none;
  }
}

#edit-item-form {
  display: flex;

  input {
    width: auto;
    text-align: center;
    border: 1px solid var(--rightColor);
    color: var(--rightColor);
    outline: none;
    flex: 1;
    margin-right: 0.25rem;
    background-color: var(--cardColor);
  }

  button {
    width: auto;
    color: white;
    background-color: var(--rightColor);

    &:hover {
      background-color: white;
      color: var(--rightColor);

    }
  }

}


#modify-item-form {

  div {
    margin: 1rem;
  }
}


.mod-dropdown-menu {
  margin: 0;
  padding: 0;
  border: 1px solid var(--rightColor);
  left: 0;
  border-radius: 15px;
  width: 92%;
  background-color: var(--cardColor);

  form {
    margin: 0.5rem;

    button {
      border: none;
    }
  }

}

.priority {
  color: var(--errorTextColor);
  font-weight: bold;
}


// notifying users of an item add, edit or change category
@keyframes change-fade {
  0% {
    box-shadow: inset 0 0 0 0.3rem var(--rightColor);
  }

  100% {
    box-shadow: none;
  }
}

.highlight {
  box-shadow: none;
  animation: change-fade 1s ease-in 1;
}
