@import 'variables';

@import 'header';
@import 'login-register';

@import 'footer';
@import 'item-details.scss';


//Mix-ins
@mixin flexCenter($justify:center, $direction:row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin buttonDefault {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  background-image: linear-gradient(135deg, $leftColor, $rightColor);
  font-family: 'Rubik', sans-serif;
  color: $textColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}


main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form.list-switcher {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2rem;
      padding: 5px;
      color: $textColor;
    }

    .error {
      background: $errorTextColor;
      border-radius: 5px;
    }

    form.item {
      display: flex;
      align-items: center;

      span {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        background: none;
      }

      .empty-cont {
        padding: 0 18px;
      }
    }

    .pending {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: 1.2rem;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          color: $textColorAlt;
          background: $cardColor;
          padding: 3px 15px;
          margin: 0 5px;

          .loader {
            color: $rightColor;
            margin-left: 10px;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
          }
        }
      }
    }

    #input-counter {
      width: 35px;
    }

    .form-group {
      display: flex;
      justify-content: center;
      background: $cardColor;
      border-radius: 5px;

      input, button {
        font-size: 1.5rem;
        border: none;
      }

      input:focus {
        background: $cardColor;
        color: $textColorAlt;
        box-shadow: none;
      }

      button {
        color: $rightColor;
        background: $cardColor;
        border-radius: 0 5px 5px 0;
      }

      button:hover {
        color: $textColor;
        background: $rightColor;
      }

      button:focus {
        box-shadow: none;
        background: $cardColor;
        color: $rightColor;
      }
    }
  }

  .lists-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $textColorAlt;

    .list-card {
      width: 18.5%;
      max-height: 670px;
      background: $cardColor;
      border-radius: 15px;
      display: none;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 2.5rem;
        text-align: center;
        color: $rightColor;
        width: 100%;
        border-bottom: 1px solid lighten($textColorAlt, 40%);
        padding: 10px 0;
        margin: 0;
      }

      ul::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      ul::-webkit-scrollbar-track {
        background: transparent;
      }

      ul::-webkit-scrollbar-thumb {
        background: lighten($textColorAlt, 40%);
        border-radius: 100px;
      }

      .todo-list {
        font-size: 1.3rem;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        width: 100%;
        height: 79%;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;


        li {
          margin-left: 6px;
          width: 92%;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid lighten($textColorAlt, 40%);

          span {
            padding: 0 10px;
          }

          button {
            color: lighten($textColorAlt, 20%);
            outline: none;
            background: $cardColor;
            border: none;
            padding: 0;
          }
        }
      }

      .completed {
        .complete-btn {
          color: $rightColor;
        }

        span {
          text-decoration: line-through;
        }
      }

      .completed-list {
        width: 100%;
        overflow-y: hidden;

        .open-border {
          border-top: none;
          border-bottom: 1px solid lighten($textColorAlt, 40%);
        }

        .completed-title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 10px;
          border-top: 1px solid lighten($textColorAlt, 40%);

          .rotate {
            transition: all 0.4s;
            transform: rotate(180deg);
          }

          .empty-cont2 {
            padding: 0 17px;
          }

          h3 {
            color: $textColorAlt;
            margin: 0;
            padding: 0;
            width: 83%;
            border: none;
          }

          i {
            font-size: 1.8rem;
            color: $rightColor;
            justify-self: flex-end;
          }
        }

        .completed-title:hover {
          cursor: pointer;
        }

        .done-list {
          padding: 0;
          height: 88%;
          overflow-y: scroll;
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1.3rem;
          list-style: none;
          width: 100%;

          li {
            margin-left: 6px;
            width: 92%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lighten($textColorAlt, 40%);

            span {
              padding: 0 10px;
            }

            button {
              color: lighten($textColorAlt, 20%);
              outline: none;
              background: $cardColor;
              border: none;
              padding: 0;
            }
          }
        }

        ul::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        ul::-webkit-scrollbar-track {
          background: transparent;
        }

        ul::-webkit-scrollbar-thumb {
          background: lighten($textColorAlt, 40%);
          border-radius: 100px;
        }
      }
    }
  }
}


.mod-items-wrapper {
  @include flexCenter();
  width: 500px;
  padding: 3rem 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn {
  @include buttonDefault();
}

.cancel-btn {
  @include buttonDefault();
  color: $textColorAlt;
  position: fixed;
  z-index: 1;
  right: 1rem;
  top: 1rem;
}

#modify-item-form {
  @include flexCenter($direction:column, $justify:space-around);
  background-color: orange;
  width: 100%;
  height: 100%;
}


.body-container{

}

 /* Desktop styles */
@media only screen and (max-width: 1024px) {

  main {
    form.list-switcher {
      display: inline;
    }
    .lists-container {

      .list-card {
        width: 75%;
      }
    }
  }
}
