// Variables
$leftColor: #e2c35d;
$rightColor: #da785d;
$textColor: white;
$textColorAlt: rgba(95, 95, 95, 0.932);
$cardColor: white;
$errorTextColor: red;

body {
  background-image: linear-gradient(100deg, $leftColor, $rightColor);
  font-family: 'Rubik', sans-serif;
  color: $textColor;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  form.list-switcher {
    display: none;
  }

  .error {
    color: $errorTextColor;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2rem;
      color: $textColor;
    }

    form.item {
      display: flex;
      align-items: center;
      margin-top: 10px;

      span {
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        background: none;
      }

      .empty-cont {
        padding: 0 13px;
      }
    }

    .pending {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      margin-top: 10px;
      font-size: 1.2rem;

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          color: $textColorAlt;
          background: $cardColor;
          padding: 3px 10px;
          margin: 0 5px;
        }
      }
    }

    .form-group {
      display: flex;
      justify-content: center;
      background: $cardColor;
      border-radius: 5px;

      input, button {
        font-size: 1.5rem;
        border: none;
      }

      input:focus {
        background: $cardColor;
        color: $textColorAlt;
        box-shadow: none;
      }

      button {
        color: $rightColor;
        background: $cardColor;
        border-radius: 0 5px 5px 0;

      }

      button:hover {
        color: $textColor;
        background: $rightColor;
      }

      button:focus {
        box-shadow: none;
        background: $cardColor;
        color: $rightColor;
      }
    }
  }

  .lists-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $textColorAlt;

    .list-card {
      width: 18.5%;
      background: $cardColor;
      max-height: 61vh;
      border-radius: 15px;
      display: none;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 2.5rem;
        text-align: center;
        color: $rightColor;
        width: 92%;
        border-bottom: 1px solid lighten($textColorAlt, 40%);
        padding: 10px 0;
        margin: 0;
      }

      ul {
        font-size: 1.3rem;
        list-style: none;
        padding: 0;
        width: 100%;
        max-height: 92%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          margin-left: 6px;
          width: 88%;
          padding: 10px 0;
          display: flex;
          justify-content: center;
          border-bottom: 1px solid lighten($textColorAlt, 40%);
        }
      }

      ul::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      ul::-webkit-scrollbar-track {
        background: transparent;
      }

      ul::-webkit-scrollbar-thumb {
        background: lighten($textColorAlt, 40%);
        border-radius: 100px;
      }
    }
  }
}


.main-header {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px 30px;

    img {
      cursor: pointer;
    }

    button {
      border: none;
      background: $textColor;
      border-radius: 5px;
      padding: 15px 15px;
      color: $rightColor;
      font-weight: bold;
      font-size: 1rem;
      min-width: 120px;
      font-size: 1.2rem;
    }

    button:hover {
      color: $textColor;
      background: lighten($rightColor, 4%);
      border: 1px solid $textColor;
    }

    .header-details {
      display: flex;
      align-items: center;

      .user-details {
        color: $textColor;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;

        .details-name {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .details-email {
          font-size: 1rem;
          font-style: italic;
          opacity: 75%;
        }
      }
    }
  }
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-cards-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-card {
    width: 100%;
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $textColor;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .icons-container {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;

    i:hover {
      cursor: pointer;
      color: darken($rightColor, 13%);
    }
  }

}

.credential-card {
  background: $cardColor;
  padding: 30px;
  margin: auto;
  font-size: 1.2rem;
  width: 80%;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $textColor;
  border-radius: 20px;
  color: $textColorAlt;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: $rightColor;
      font-size: 3.5rem;
      font-weight: bold;
    }

    span {
      color: $rightColor;
    }
  }

  form {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    button {
      border: 1px solid $rightColor;
      background-color: $rightColor;
      color: $textColor;
      border-radius: 5px;
      align-self: center;
      padding: 15px;
      margin-top: 20px;
    }

    button:hover {
      border: 1px solid $rightColor;
      background: none;
      color: $rightColor;
    }

    .credential-input {
      display: flex;
      flex-direction: column;

      input, label {
        margin-top: 5px;
      }
    }
  }
}

 /* Desktop styles */
@media only screen and (max-width: 1024px) {

  main {
    form.list-switcher {
      display: inline;
    }
    .lists-container {

      .list-card {
        width: 75%;
      }
    }
  }
}
