// Variables
$leftColor: #e2c35d;
$rightColor: #da785d;
$textColor: white;
$textColorAlt: rgba(95, 95, 95, 0.932);

body {
  background-image: linear-gradient(100deg, $leftColor, $rightColor);
  font-family: 'Rubik', sans-serif;

  h1 {
    text-align: center;
    color: $textColor;
  }

  .form-group {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    button {
      margin-left: 10px;
    }
  }
}

.main-header {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px 30px;

    img {
      cursor: pointer;
    }

    button {
      border: none;
      background: $textColor;
      border-radius: 5px;
      padding: 15px 15px;
      color: $rightColor;
      font-weight: bold;
      font-size: 1rem;
      min-width: 120px;
      font-size: 1.2rem;
    }

    button:hover {
      color: $textColor;
      background: lighten($rightColor, 4%);
      border: 1px solid white;
    }

    .header-details {
      display: flex;
      align-items: center;

      .user-details {
        color: $textColor;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;

        .details-name {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .details-email {
          font-size: 1rem;
          font-style: italic;
          opacity: 75%;
        }
      }
    }
  }
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-cards-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-card {
    width: 100%;
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $textColor;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .icons-container {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;

    i:hover {
      cursor: pointer;
      color: darken($rightColor, 13%);
    }
  }

}

.credential-card {
  padding: 30px;
  margin: auto;
  font-size: 1.2rem;
  width: 80%;
  max-width: 775px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $textColor;
  border-radius: 30px;
  box-shadow: 1px 1px 30px;
  color: $textColorAlt;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: $rightColor;
      font-size: 3.5rem;
      font-weight: bold;
    }

    span {
      color: $rightColor;
    }
  }

  form {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    button {
      border: 1px solid $rightColor;
      background-color: $rightColor;
      color: $textColor;
      border-radius: 5px;
      align-self: center;
      padding: 15px;
      margin-top: 20px;
    }

    button:hover {
      border: 1px solid $rightColor;
      background: none;
      color: $rightColor;
    }

    .credential-input {
      display: flex;
      flex-direction: column;

      input,
      label {
        margin-top: 5px;
      }

    }

  }

}
