@import 'variables';

@import 'header';
@import 'login-register';

@import 'footer';
@import 'item-details.scss';

html {
  --leftColor: #e2c35d;
  --rightColor: #da785d;
  --rightColorDark: #c74f2e;
  --textColor: white;
  --altTextColor: rgba(95, 95, 95, 0.932);
  --altTextColorLight: #919191;
  --altTextColorSuperLight: #c4c4c4;
  --cardColor: white;
  --errorTextColor: rgb(255, 78, 78);
}

body {
  background-image: linear-gradient(135deg, var(--leftColor), var(--rightColor));
  font-family: 'Rubik', sans-serif;
  color: var(--textColor);
}

ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

ul::-webkit-scrollbar-track {
  background: transparent;
}

ul::-webkit-scrollbar-thumb {
  background: var(--altTextColorSuperLight);
  border-radius: 100px;
}

.loader {
  color: var(--rightColor);
  margin-left: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  position: relative;

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;

    form.list-switcher {
      display: none;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 2rem;
        padding: 5px;
        color: var(--textColor);
      }

      .error {
        background: var(--errorTextColor);
        border-radius: 5px;
      }

      form.item {
        display: flex;
        align-items: center;

        span {
          font-size: 1.2rem;
          padding: 0;
          margin: 0;
          margin-left: 1rem;
          background: none;
        }

        .empty-cont {
          padding: 0 18px;
        }
      }

      .pending {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 1.2rem;

        ul {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            color: var(--altTextColor);
            background: var(--cardColor);
            padding: 3px 15px;
            margin: 0 5px;
          }
        }
      }

      #input-counter {
        width: 35px;
      }

      .form-group {
        display: flex;
        justify-content: center;
        background: var(--cardColor);
        border-radius: 5px;

        input, button {
          background: var(--cardColor);
          font-size: 1.5rem;
          border: none;
        }

        input:focus {
          background: var(--cardColor);
          color: var(--altTextColor);
          box-shadow: none;
        }

        button {
          color: var(--rightColor);
          background: var(--cardColor);
          border-radius: 0 5px 5px 0;
        }

        button:hover {
          color: var(--textColor);
          background: var(--rightColor);
        }

        button:focus {
          box-shadow: none;
          background: var(--cardColor);
          color: var(--rightColor);
        }
      }
    }

    .lists-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      color: var(--altTextColor);

      .list-card {
        justify-self: stretch;
        width: 18.5%;
        max-height: 60vh;
        background: var(--cardColor);
        border-radius: 15px;
        display: none;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 2.5rem;
          text-align: center;
          color: var(--rightColor);
          width: 100%;
          border-bottom: 1px solid var(--altTextColorSuperLight);
          padding: 10px 0;
          margin: 0;
        }

        .todo-list {
          font-size: 1.3rem;
          list-style: none;
          padding: 0;
          margin-bottom: 0;
          width: 100%;
          height: 79%;
          overflow-x: hidden;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          align-items: center;


          li {
            margin-left: 6px;
            width: 92%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--altTextColorSuperLight);

            span {
              padding: 0 10px;
            }

            button {
              color: var(--altTextColorLight);
              outline: none;
              background: var(--cardColor);
              border: none;
              padding: 0;
            }
          }
        }

        .completed {
          .complete-btn {
            color: var(--rightColor);
          }

          span {
            text-decoration: line-through;
          }
        }

        .completed-list {
          width: 100%;
          overflow-y: hidden;

          .open-border {
            border-top: none;
            border-bottom: 1px solid var(--altTextColorSuperLight);
          }

          .completed-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 10px;
            border-top: 1px solid var(--altTextColorSuperLight);

            .rotate {
              transition: all 0.4s;
              transform: rotate(180deg);
            }

            .empty-cont2 {
              padding: 0 17px;
            }

            h3 {
              color: var(--altTextColor);
              margin: 0;
              padding: 0;
              width: 83%;
              border: none;
            }

            i {
              font-size: 1.8rem;
              color: var(--rightColor);
              justify-self: flex-end;
            }
          }

          .completed-title:hover {
            cursor: pointer;
          }

          .done-list {
            padding: 0;
            height: 88%;
            overflow-y: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.3rem;
            list-style: none;
            width: 100%;

            li {
              margin-left: 6px;
              width: 92%;
              padding: 10px 0;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid var(--altTextColorSuperLight);

              span {
                padding: 0 10px;
              }

              button {
                color: var(--altTextColorLight);
                outline: none;
                background: var(--cardColor);
                border: none;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

 /* Desktop styles */


@media only screen and (max-width: 1024px) {
  html {
    font-size: 29px;
  }

  .body-container {

    main {
      form.list-switcher {
        background: blue;
        display: inline;
      }
      .lists-container {

        .list-card {
          width: 85%;
        }
      }
    }
  }

  .mod-items-wrapper {
    width: 85%;
  }

  // .main-header {
  //   font-size: 16px;
  // }

  .main-footer {
    display: none;
  }
}

@media only screen and (max-height: 875px) {
  .main-footer {
    display: none;
  }
}
